body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
 	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background-color: #036089;
  color: #fff;
  text-align: center;
  padding: 5vh 0;
}

footer{
	background-color: #036089;
  color: #fff;
 	text-align: center;
 	padding: 10vh 0;
}

.submitButton{
  border: solid 1px #036089;
  width: 75%;
  box-sizing:border-box;
  text-align: center;
  padding: 2vh 0;
  margin-left: 12.5%;
  color:#036089;
  background-color: #fff;
  margin-bottom: 2vh;
  transition: 500ms;
}

.submitButton:hover{
  color:#fff;
  background-color: #036089;
  cursor: pointer;
}
