#content{
    margin-top: 5vh;
}

/* #thema{
    width: 75%;
    box-sizing:border-box;
    height: max(20vh,250px);
    resize: none;
    border: solid 1px #036089;
    margin-left: 12.5%;
    padding: 10px;
    margin-bottom: 2vh;
} */

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
    position:relative;
    border: solid 1px #036089;
    width: 75%;
    margin-left: 12.5%;
    padding: 25px 25px;
    margin-bottom: 2vh;
}
.card>.nameCard{
    position:absolute;
    top:-25px; left: 4%;
    padding: 0 1.5%;
    background-color: #fff;
    text-align: center;
}

.res_info{
    font-weight: bold;
    color: #036089;
}

.noModel{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #036089;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing:border-box;
  margin: 2vh;
}